@font-face {
    font-family: 'BirdyGame';
    src: url('..\\..\\BirdyGame.ttf');
}

#Scenemain{
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('..\\..\\images\\intro_background.jpg');
	background-size : 1280px 720px;
	visibility : visible;
	opacity: 1;
	-webkit-transition: opacity 0.8s;
}

.yourClass {
		opacity: 0;
}
#box1 {
	top: 380px;
}

#box2 {
	top: 450px;
}

#box3 {
	top: 513px;
}

#box4 {
	top: 577px;
}

#titleText {
	font-variant: small-caps;
	font-family: 'BirdyGame', Fallback, sans-serif;
	font-size: 120px;
	margin-top: 180px;
	text-align: center;
	color: #ffe900;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.Button {
	position: absolute;
	left: 500px;
	width: 350px;
	height: 54px;
	border-radius: 100px;

	background: rgb(179,148,4); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(179,148,4,1) 0%, rgba(252,190,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,148,4,1)), color-stop(100%,rgba(252,190,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(179,148,4,1) 0%,rgba(252,190,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(179,148,4,1) 0%,rgba(252,190,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(179,148,4,1) 0%,rgba(252,190,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(179,148,4,1) 0%,rgba(252,190,0,1) 100%); /* W3C */
	
	opacity: 0.85;


}
.ButtonSelected { 
	border: solid 3px;
	border-color: rgb(252, 252, 2);
	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */	
}

p {
	font-variant: small-caps;
	font-family: 'BirdyGame', Fallback, sans-serif;
	font-size: 35px;
	margin: 10px;
	margin-top: 15px;
	text-align: center;
	color: #FFF;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;	
}